*.bf linguist-language=Brainfuck
*.forth linguist-language=Forth
*.lisp linguist-language=Lisp
*.cob linguist-language=COBOL
*.sql linguist-language=SQL
*.f90 linguist-language=Fortran
*.wasm linguist-language=WebAssembly
*.adb linguist-language=Ada
*.dart linguist-language=Dart
*.erl linguist-language=Erlang
*.hs linguist-language=Haskell
*.kt linguist-language=Kotlin
*.lua linguist-language=Lua
*.pas linguist-language=Pascal
*.pl linguist-language=Perl
*.r linguist-language=R
*.rb linguist-language=Ruby
*.rs linguist-language=Rust
*.scala linguist-language=Scala
*.sh linguist-language=Shell
*.swift linguist-language=Swift
*.tcl linguist-language=Tcl
*.v linguist-language=Verilog
*.zig linguist-language=Zig
